/* Para todas las resoluciones mqueries */
*{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Sans-serif;
}
.container{
  display: flex;
  flex-flow: column wrap;
}
  .header{
    background: #e9e9e9;
    display: flex;
    /*flex-flow: column wrap;*/
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

  }
          .logo img{
            background: whitesmoke;
            flex: 2 1 auto;

          }
          .texto-principal{
            background: #cdcdcd;
            flex: 1 1 auto,

          }
          .filters{
            background: #cdcdcd;
            flex: 2 1 auto;
            text-shadow: black;
            font-weight: 500;
            font-size: 1.2em;
            color: black;
            font: bold;
            border-radius:30px;
            cursor: pointer;
            transition: background 2s, color 2s;
            
            display: flex;
            flex-direction: row;     
          }
                .filters .nameAZ{
                  flex: 1 1 auto;
                  box-shadow: gray;
                  border: 3px solid blue; 
                                  
                }
                .filters .speciesAll{
                  flex: 1 1 auto;
                }
                .filters .Gender{
                  flex: 1 1 auto;
                }
                .filters .calculos{
                  flex: 1 1 auto;
                }
          .filters:hover{
            background: #88bbd6;
            color: black;
          }      
  
  section{
    background:#6ad0ce;
    display: flex;
   
  }
        .items{
          background: #88bbd6;
          flex: 2 1 auto;
          display: flex;
          flex-flow: row wrap;
          
        }
              .tarjetas{
                background: whitesmoke;
                flex: 1 1 40%;
                width: 40%;
                margin: 2%;
                display: inline-block;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                box-shadow: 6px 6px 6px 6px black;
                               
              }
              .image{
                flex: 1 1 40%;
                width: 80%;
              }

              .navegation{
                background: pink;
                flex: 1 1 100%;
                align-items: center;
              }
  
  
        .aside{
          background: #cdcdcd;
          flex: 1 1 auto;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
          align-content: center;
        }
                .gif{
                  background: #88bbd6;
                  flex: 1 1 auto;
                  width: 85%;
                  /*margin: 2%;*/
                  display: inline-block;
                  /*padding: 40px;*/
                  border-radius: 15px;
                  text-align: center;
                  box-shadow: 6px 6px 6px black;
                  align-items: center;
                                    
                }
                .gif img{
                  width: 95%;
                  border-radius: 20px;
                }
                .control{
                  width: 95%;
                }
              
  .footer{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .pie{
      background: #6ad0ce;
      width: 300px;
        
    }
p{
  color: black;
  font-size: 1.5em;
  text-align: center;
}
h2{
  color: whitesmoke;
  font-size: 0.95em;
  text-align: left;
}
h4{
  color: white;
  font-size: 1em;
  text-align: left;

}


/*Responsive para laptops*/
@media all and (max-width: 1440px) and (min-width: 1024px){
 .header, .aside{
    width: auto;
    flex-wrap: wrap;
  }
   /* .image{
        width: ;
    }*/
    p{
      font-size: 1em;
    }
}

/*Responsive para tablets*/
@media all and (max-width:768px) and (min-width: 600px){
  .container, .header, .navfilters, .section, .aside{
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo{
    width: 80%;
  }
  .filters{
    width: 420px;
  }
  .items, .tarjetas {
    width: 175px;
  }
  .gif{
    width: 175px;
  }
  .gif img{
    width: 150px;
  }
  p{
    width: 1em;
  }
  .image{
    width: 150px;
  }
  .control{
    width: 145px;
  }
  
}

/*Responsive para mobile*/
@media all and (max-width:425px) and (max-width:320px){
  .container, .header, .navfilters, .section, .aside{
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
        .logo{
          flex: 50px;
        }
        h2{
          flex: 1 1 100%;
          font-size: 0.7em;
        }
        .filters, .nameAZ, .genderAll, .speciesAll{
          flex: 1 1 100%;
        }

  .image{
    width: 150px;
  }
 /* .aside{
    flex-direction: column;
  }*/
}
/*Responsive para mobile*/
@media all and (max-width:320px){
  .container, .header, .navfilters, .section, .aside{
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
        .logo{
          flex: 50px;
        }
        h2{
          flex: 1 1 100%;
          font-size: 0.7em;
        }
        .filters, .nameAZ, .genderAll, .speciesAll{
          flex: 1 1 100%;
        }

  .image{
    width: 130px;
  }
 /* .aside{
    flex-direction: column;
  }*/
}
