/* Para todas las resoluciones mqueries */
*{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Sans-serif;
}
.container{
  display: flex;
  flex-flow: column nowrap;
}
  .header{
    background: whitesmoke;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

  }
          .logo img{
            background: whitesmoke;
            flex: 2 1 auto;

          }
          .texto-principal{
            background: #6ad0ce;
            flex: 1 1 auto,

          }
          .filters{
            background: whitesmoke;
            flex: 2 1 auto;
                   
          }

  .section{
    background:#6ad0ce;
    display: flex;
   
  }
        .items{
          background: gray;
          flex: 2 1 auto;
          display: flex;
          flex-flow: row wrap;
        }
              .tarjetas{
                background: greenyellow;
                width: 10%;
                /*height: 150px;*/
                flex: 1 1 40%;
              }
              .navegation{
                background: pink;
                flex: 1 1 100%;
                align-items: center;
              }
  
  
        .aside{
          background: purple;
          flex: 1 1 auto;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
        }
                .gif{
                  background: #6ad0ce;
                  flex: 1 1 auto;
                  align-items: center;
                                    
                }
                .gif img{
                  width: 75%;
                }
              
  .footer{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .pie{
      background: #6ad0ce;
      width: 300px;
        
    }
p{
  color: blue;
  font-size: 1.1em;
  text-align: center;
}
h2{
  color:black;
  font-size: 0.95em;
  text-align: left;
}
h4{
  color: gray;
  font-size: 0.8em;
  text-align: left;

}



@media all and (max-width: 800px){
  .section{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
    height: auto;
  }
  .aside{
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width:600px){
  .items{
    flex-direction: column;
  }
}

@media all and (max-width:400px){
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo{
    width: 80%;
  }
  .tarjetas{
    width: 60%;
  }
  .aside{
    flex-direction: column;
  }
}
